fastapi
uvicorn
streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
langchain-huggingface
langchain-chroma
langgraph

chromadb
sentence-transformers
pymupdf

groq
python-dotenv
pydantic
requests